<main role="main" class="flex-shrink-0">
  <div class="container text-center">
    <h1 class="mt-2" >
      <a class="title-bar text-warning"  href="#">Statistics</a>
    </h1>
  </div>
  <div class="container stats">
      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
  </div>
</main>
