<main role="main" class="flex-shrink-0">
  <div class="container text-center">
    <h1 class="mt-2" >
      <a class="title-bar text-warning"  href="#">About</a>
    </h1>
  </div>
  <div class="container about ">
      <div class="px-2 py-2">
        Tic Tac Toe reminds of being a kid. We would play on the kids menu while
          we were waiting for service at a resteraunt. I would cheat when no one looking because it was hard to win otherwise.
          I use to cheat in Monopoly too but I don't have an excuse for that. It is a good think I have a more
          developed sense of morality now.
        <h3 class="text-warning">Rules</h3>
         X will always go first. Players take turns filling squares until they get 3 in a row.
        <h3 class="text-warning">Features</h3>
        This game will save your progress locally. You can come back to your game at anytime. It is mobile friendly.
        Your personal statistics are saved as well as global statistics. The AI is unbeatable because Tic Tac Toe is known
        as a solved game.
      </div>
  </div>
</main>
