<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container text-center">
    <h1 class="mt-3" >
      <a class="title-bar text-warning"  data-toggle="tooltip" data-placement="bottom" title="Restart Game (Give Up)" href="#">Tic-Tac-Toe</a>
    </h1>
    <div class="alert alert-primary" role="alert" *ngIf = "showAlert">
      {{alertMessage}}
    </div>
    <p class="lead" *ngIf="!game.getIsGame()">
      <button type="button" class="btn btn-danger"(click)="start(1)">Play As <em>X</em></button>
      <button type="button" class="btn btn-success" (click)="start(2)">Play As <em>O</em></button>
      <button type="button" class="btn btn-info" (click)="start(3)">Play As <em>Random</em></button>
    </p>
  </div>

  <div class="container game-board">
    <div class="row">
      <div class="col game-alerts" *ngIf="game.getIsGame()">
        {{game.toString()}}
      </div>
      <div class="w-100"></div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(0), 'ai-animation': aiAnimate(0)}" (click)="move(0)">
          <img src="{{squareImg(0)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(1), 'ai-animation': aiAnimate(1)}" (click)="move(1)">
          <img src="{{squareImg(1)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(2), 'ai-animation': aiAnimate(2)}" (click)="move(2)">
        <img src="{{squareImg(2)}}" class="img-fluid">
      </div>
      <div class="w-100"></div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(3), 'ai-animation': aiAnimate(3)}" (click)="move(3)">
        <img src="{{squareImg(3)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(4), 'ai-animation': aiAnimate(4)}" (click)="move(4)">
        <img src="{{squareImg(4)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(5), 'ai-animation': aiAnimate(5)}" (click)="move(5)">
        <img src="{{squareImg(5)}}" class="img-fluid">
      </div>
      <div class="w-100"></div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(6), 'ai-animation': aiAnimate(6)}" (click)="move(6)">
        <img src="{{squareImg(6)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(7), 'ai-animation': aiAnimate(7)}" (click)="move(7)">
        <img src="{{squareImg(7)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(8), 'ai-animation': aiAnimate(8)}" (click)="move(8)">
        <img src="{{squareImg(8)}}" class="img-fluid">
      </div>
    </div>
  </div>
</main>




