<!-- Begin page content -->
<main role="main" class="flex-shrink-0" [ngClass]="{'background-lost': game.getLost(), 'background-tied': game.getTie()}">
  <div class="container text-center">
    <h1 class="mt-3" >
      <a class="title-bar text-warning"  data-toggle="tooltip" data-placement="bottom" title="About this Game" [routerLink]="['/about']" alt="About this game" >Tic-Tac-Toe</a>
    </h1>
  </div>
  <div class="container game-board">
    <div class="row">
      <div class="col game-alerts" [ngClass]="{'game-lost': game.getLost(), 'game-tied': game.getTie()}">
        <img src="../../assets/img/x.png" class="img-fluid mt-0" *ngIf="game.getTurn() == 0 || game.getTurn() == 1">
        {{game.toString()}}
        <img src="../../assets/img/x.png" class="img-fluid mt-0" *ngIf="game.getPlayer() == 1">
        <img src="../../assets/img/o.png" class="img-fluid mt-0" *ngIf="game.getPlayer() == 2">
      </div>
      <div class="w-100"></div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(0), 'ai-animation': aiAnimate(0), 'square-end': game.getLost() || game.getTie() }" (click)="move(0)">
          <img src="{{squareImg(0)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(1), 'ai-animation': aiAnimate(1), 'square-end': game.getLost() || game.getTie() }" (click)="move(1)">
          <img src="{{squareImg(1)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(2), 'ai-animation': aiAnimate(2), 'square-end': game.getLost() || game.getTie() }" (click)="move(2)">
        <img src="{{squareImg(2)}}" class="img-fluid">
      </div>
      <div class="w-100"></div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(3), 'ai-animation': aiAnimate(3), 'square-end': game.getLost() || game.getTie() }" (click)="move(3)">
        <img src="{{squareImg(3)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(4), 'ai-animation': aiAnimate(4), 'square-end': game.getLost() || game.getTie() }" (click)="move(4)">
        <img src="{{squareImg(4)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(5), 'ai-animation': aiAnimate(5), 'square-end': game.getLost() || game.getTie() }" (click)="move(5)">
        <img src="{{squareImg(5)}}" class="img-fluid">
      </div>
      <div class="w-100"></div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(6), 'ai-animation': aiAnimate(6), 'square-end': game.getLost() || game.getTie() }" (click)="move(6)">
        <img src="{{squareImg(6)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(7), 'ai-animation': aiAnimate(7), 'square-end': game.getLost() || game.getTie() }" (click)="move(7)">
        <img src="{{squareImg(7)}}" class="img-fluid">
      </div>
      <div class="col game-square" [ngClass]="{'animate-square': game.free(8), 'ai-animation': aiAnimate(8), 'square-end': game.getLost() || game.getTie() }" (click)="move(8)">
        <img src="{{squareImg(8)}}" class="img-fluid">
      </div>
      <div class="w-100"></div>
      <div class="col text-center" [ngClass]="{'game-buttons': game.getIsGame(), 'game-buttons-return': !game.getIsGame()}" *ngIf="game.getTurn() == 0 || game.getTurn() == 1 || !game.getIsGame()">
        <button type="button" class="btn btn-danger" (click)="start(1)" [disabled]="game.getIsGame()">Play As <img src="../assets/img/x.png" class="img-fluid mt-0"></button>
        <button type="button" class="btn btn-success" (click)="start(2)" [disabled]="game.getIsGame()">Play As <img src="../assets/img/o.png" class="img-fluid mt-0"></button>
        <button type="button" class="btn btn-info" id="random-button" (click)="start(3)" [disabled]="game.getIsGame()" data-toggle="tooltip" data-placement="bottom" title="> Would You like to Play a Game?">Play As <em>Random</em></button>
      </div>
    </div>
  </div>
</main>




