<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container text-center">
    <h1 class="mt-5">
      <a class="title-bar text-warning" href="#">Tic-Tac-Toe</a>
    </h1>
    <p class="lead">
      <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Go First">Play As <em>X</em></button>
      <button type="button" class="btn btn-primary"  data-toggle="tooltip" data-placement="bottom" title="Go Last">Play As <em>O</em></button>
      <button type="button" class="btn btn-info">Play As <em>Random</em></button>
    </p>
  </div>

  <div class="container game-board">

    <div class="row">
      <div class="col game-square"  style="vertical-align: middle;" (click)="makeMove(0)">
          <img src="{{squareImg(0)}}" class="img-fluid">
      </div>
      <div class="col game-square" (click)="makeMove(1)">
          <img src="{{squareImg(1)}}" class="img-fluid">
      </div>
      <div class="col game-square" (click)="makeMove(2)">
        <img src="{{squareImg(2)}}" class="img-fluid">
      </div>
      <div class="w-100"></div>
      <div class="col game-square" (click)="makeMove(3)">
        <img src="{{squareImg(3)}}" class="img-fluid">
      </div>
      <div class="col game-square" (click)="makeMove(4)">
        <img src="{{squareImg(4)}}" class="img-fluid">
      </div>
      <div class="col game-square" (click)="makeMove(5)">
        <img src="{{squareImg(5)}}" class="img-fluid">
      </div>
      <div class="w-100"></div>
      <div class="col game-square" (click)="makeMove(6)">
        <img src="{{squareImg(6)}}" class="img-fluid">
      </div>
      <div class="col game-square" (click)="makeMove(7)">
        <img src="{{squareImg(7)}}" class="img-fluid">
      </div>
      <div class="col game-square" (click)="makeMove(8)">
        <img src="{{squareImg(8)}}" class="img-fluid">
      </div>
    </div>
  </div>
</main>




